manifest {
    name = 'apa-clip'
    author = 'Georgii Dolgalev'
    description = 'apa-clip'
    version = '0.1.0'
}

params {
    input = 'data/samplesheet.csv'
    outdir = 'results'
}

profiles {
    conda {
        conda.enabled = true
        conda.createTimeout = '1h'
    }
    slurm {
        process {
            executor = 'slurm'
            queue = 'normal'
        }
        executor {
            queueSize = 10
            // Using a tag as a job name causes an issue because of the "()" in the name
            // See https://github.com/nextflow-io/nextflow/issues/4368
            jobName = { fixed_name = "${task.name}" -> fixed_name.replaceAll( '[():\\s]', '_') }
            submitRateLimit = '10sec'
        }
    }
}

process {
    withName: 'FASTQC_RAW' {
        publishDir = [
            path: "${params.outdir}/fastqc/raw",
            mode: 'copy',
            pattern: '*.html'
        ]
    }
    withName: 'FASTQC_TRIMMED' {
        publishDir = [
            path: "${params.outdir}/fastqc/trimmed",
            mode: 'copy',
            pattern: '*.html'
        ]
    }
    withName: 'MULTIQC_RAW' {
        publishDir = [
            path: "${params.outdir}/multiqc/raw",
            mode: 'copy',
            pattern: '*.html'
        ]
    }
    withName: 'MULTIQC_TRIMMED' {
        publishDir = [
            path: "${params.outdir}/multiqc/trimmed",
            mode: 'copy',
            pattern: '*.html'
        ]
    }
    withName: 'TRIMGALORE' {
        ext.args = [
            '-a CAAGCAGAAGACGGCATACGAAAAAAAAAA -a AAAAAAAAAA -a AGATCGGAAGAGC -a2 AGATCGGAAGAGC',
            '-n 3',
            '--2colour 20',
            '--poly_g',
            '--clip_r1 3',
            '--illumina',
            '--length 18'
        ].join(' ')
    }
}
