manifest {
    name = 'apa-clip'
    author = 'Georgii Dolgalev'
    description = 'apa-clip'
    version = '0.1.0'
}

params {
    input = 'data/samplesheet.csv'
    outdir = 'results'
}

profiles {
    conda {
        conda.enabled = true
        conda.createTimeout = '1h'
    }
    slurm {
        process {
            executor = 'slurm'
            queue = 'normal'
        }
        executor {
            queueSize = 10
            // Using a tag as a job name causes an issue because of the "()" in the name
            // See https://github.com/nextflow-io/nextflow/issues/4368
            jobName = { fixed_name = "${task.name}" -> fixed_name.replaceAll( '[():\\s]', '_') }
            submitRateLimit = '10sec'
        }
    }
}

process {
    cpus   = 2
    memory = 8.GB
    time   = 4.h

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    withLabel: process_low {
        cpus   = 2
        memory = 4.GB
        time   = 2.h
    }
    withLabel: process_medium {
        cpus   = 8
        memory = 32.GB
        time   = 8.h
    }
    withLabel: process_high {
        cpus   = 16
        memory = 64.GB
        time   = 24.h
    }
    withName: 'FASTQC_RAW' {
        publishDir = [
            path: "${params.outdir}/fastqc/raw",
            mode: 'copy',
            pattern: '*.html'
        ]
    }
    withName: 'FASTQC_TRIMMED' {
        publishDir = [
            path: "${params.outdir}/fastqc/trimmed",
            mode: 'copy',
            pattern: '*.html'
        ]
    }
    withName: 'MULTIQC_RAW' {
        publishDir = [
            path: "${params.outdir}/multiqc/raw",
            mode: 'copy',
            pattern: '*.html'
        ]
    }
    withName: 'MULTIQC_TRIMMED' {
        publishDir = [
            path: "${params.outdir}/multiqc/trimmed",
            mode: 'copy',
            pattern: '*.html'
        ]
    }
    withName: 'MULTIQC_ALIGN' {
        publishDir = [
            path: "${params.outdir}/multiqc/align",
            mode: 'copy',
            pattern: '*.html'
        ]
    }
    withName: 'CUTADAPT' {
        ext.args = [
            '-u 3',  // Trim first three bases from TSO
            '-a CAAGCAGAAGACGGCATACGA',  // Infrared adapter
            '-a AAAAAAAAAA',  // Poly-A
            '-a AGATCGGAAGAGC',  // Standard Illumina adapter
            '-n 2',
            '--nextseq-trim 15', // Quality cutoff specifically for 2-color chemistry
            '-m 18'
        ].join(' ')
    }
    withName: 'STAR_ALIGN' {
        ext.args = [
            '--readFilesCommand zcat',
            '--outFilterMultimapNmax 1',
            '--outFilterMultimapScoreRange 1',
            '--outSAMattributes All',
            '--outSAMtype BAM SortedByCoordinate',
            '--outFilterType BySJout',
            '--outReadsUnmapped Fastx',
            '--outFilterScoreMin 10',
            '--outSAMattrRGline ID:foo',
            '--alignEndsType EndToEnd',
            '--outBAMcompression 10',
            '--outSAMmode Full',
            '--outWigType wiggle',
            '--outWigStrand Unstranded'
        ].join(' ')
    }
    withName: 'IGVTOOLS_TOTDF' {
        publishDir = [
            path: "${params.outdir}/igvtools",
            mode: 'copy'
        ]
    }
}
